body {
    background-color: #ebeeff;
}

#titulonavbar {
    color: #ebeeff;
}

.nav-link {
    color: #ebeeff;
}

.d-flex {
    width: 450px;
}

#img1 {
    width: 40px!important;
    height: 40px!important;
    border-radius: 20px!important;
}

.col {
    margin-top: 150px;
    background-color: #48569E;
    color: #ebeeff;
}


#col1 {
    width: 100px;
    height: 100px;
    background-color: #48569e00;
    color: #ebeeff00;
    float: left;
    width: 20%;
}

#col2 {
    margin-left: 700px;
    margin-top: -52%;
    width: 10px;
    height: 700px;
    border-radius: 20px;
    float: left;
    width: 20%;
}

#col3 {
    width: 100px;
    height: 100px;
    background-color: #48569e00;
    color: #ebeeff00;
}

#coloriginal {
    height: auto;
    padding-bottom: 20px;
    border-radius: 20px;
    width: 65%;
    float: left;
    text-align: center;
}
  

#img2 {
    margin-top: -50px;
    margin-left: -320px;
    width: 125px;
    height: 200px;
    object-fit: cover;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
}

#titulomain {
    margin-top: 30px!important;
    margin-left: -350px;
}

#labelp {
    margin-top: 20px!important;
    margin-left: -475px;
    text-align: left;
}

#img3 {
    margin-top: -100px;
    margin-left: -240px;
    width: 82px;
    height: 132px;
}

#titulo2main {
    margin-top: 30px!important;
    margin-left: -15px;
}


#label2p {
    margin-top: 20px!important;
    margin-left: -90px;
    text-align: justify!important;
    font-size: x-small;
}
